/* This contains style for the overall page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border: 1px solid red;
    padding:20px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: purple;
    border-radius: 1%;
    margin: 5px;
    width: 100%;
}
/* Main Component */

main {
    display: flex;
    /* margin: 5px;
    padding: 5px;
    /* max-width: 80%; */
    height: 100%;
}

/* Card Container css */
.cardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 50%;
    column-gap: 0.5%;
    border: 1px solid red;
    margin: 5px;
    padding: 2px;
    max-width: 1000px;
    height: 100%;
    float: left;
}

.card {
    border: 1px solid green;
    margin: 2px;
    padding: 2px;
    width: 240px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card__title {
    margin: 1px;
    border: 1px solid green;
    font-size: 1.5rem;
}
.card__description{
    max-width: 295px;
    border: 1px solid green;
    font-size: 1rem;
    height: 100px;
}
.card__price {
    border: 1px solid green;
    font-size: 1.3rem;
}

.card__buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid green;
    font-size: 1.3rem;
    padding: 4px;
}

#incrementButton{
    width: 80px;
    font-size: 1.5rem;
}

#decrementButton{
    width: 80px;
    font-size: 1.5rem;
}

.card__image {
    height: 200px;
    /* width: 200px; */
}

/* Cart */
.cartContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50%;
    column-gap: 0.5%;
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
    height: 100%;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart {
    border: 1px solid green;
    margin: 2px;
    padding: 2px;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart__title {
    margin: 1px;
    border: 1px solid green;
    font-size: 1.1rem;
}
.cart__description{
    max-width: 100%;
    border: 1px solid green;
    font-size: 0.9rem;
    height: 80px;
}
.cart__price {
    border: 1px solid green;
    font-size: 1.3rem;
}

.cart__buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid green;
    font-size: 1.3rem;
    padding: 4px;
}

#incrementButton{
    width: 40px;
    font-size: 1.5rem;
}

#decrementButton{
    width: 40px;
    font-size: 1.5rem;
}

.cart__image {
    height: 150px;
    /* width: 200px; */
}

#cart__total {
    max-width: 100%;
}


@media screen and (min-width:1057px) and (max-width:1305px) {
    .cart {
        max-width: 200px;
    }
    .cart__image {
        height: 100px;
    }
}

@media screen and (min-width:300px) and (max-width:1056px) {
    .cardContainer {
        min-width: 150px;
        max-width: 800px;
        /* width: 150px; */
      }
      .card{
        width: 150px;
      }
      .cartContainer {
        min-width: 160px;
      }
    .cart {
        max-width: 150px;
    }
    .cart__image {
        height: 100px;
    }
    .cart__description{
        display: none;
    }
}